<?xml version="1.0"?>
<model>
  <name>hexapod</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  
  <author>
    <name>Ardumatic</name>
    <email>info@ardumatic.com</email>
  </author>
  
  <description>
    Six-legged hexapod robot for gait demonstration
  </description>
</model>